<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <p class="text-2xl font-bold text-center p-6 text-green-700">زيــد دخـلـك  بـالـمـوجـود  </p>
    
    <div data-aos="fade-up">               
            <div class=" flex flex-wrap justify-center ">
                   <div class="bg-green-50 rounded-lg shadow-lg  w-72 m-7 hover:bg-sky-300 transition ease-in-out delay-150 hover:scale-110 ">
                    <img src="../../assets/tran (2).png" class="">
                    <p routerLink="/cars" class="text-center p-20 text-xl">مواصلات</p> 
                  </div>

                  <div class="bg-green-50 rounded-lg shadow-lg  w-72 m-7 hover:bg-green-300 transition ease-in-out delay-150 hover:scale-110">
                     <img src="../../assets/farm.png" class="">
                     <p routerLink="/farm" class="text-center p-20 text-xl">مزارع</p>
                  </div>

                    <div class="bg-green-50 rounded-lg shadow-lg  w-72 m-7 hover:bg-orange-300 transition ease-in-out delay-150 hover:scale-110">
                        <img src="../../assets/camp.png">
                        <p routerLink="/camp" class="text-center p-20 text-xl">مخيمات</p>
                    </div>
                    <div class="bg-green-50 rounded-lg shadow-lg  w-72 m-7 hover:bg-red-300 transition ease-in-out delay-150 hover:scale-110">
                        <img src="../../assets/apartment.png">
                        <p routerLink="/apartment" class="text-center p-20 text-xl">شقق خاصة</p>
                    </div>

                    <div class="bg-green-50 rounded-lg shadow-lg  w-72 m-7 hover:bg-yellow-300 transition ease-in-out delay-150 hover:scale-110">
                        <img src="../../assets/fire.png">
                        <p routerLink="/session" class="text-center p-20 text-xl">جلسة</p>
                    </div>
                    <div class="bg-green-50 rounded-lg shadow-lg  w-72 m-7 hover:bg-pink-300 transition ease-in-out delay-150 hover:scale-110">
                        <img src="../../assets/Dresses.png">
                        <p routerLink="/dress" class="text-center p-20 text-xl">فساتين</p>
                    </div>
              
            </div>
        </div> 
</body>
</html>