
 <!DOCTYPE html>
<html dir="rtl"> 

   <nav class="bg-green-50 flex flex-wrap justify-between p-5 ">

      <div class="flex"><img src="../assets/hand.png" class="w-14"><h2 routerLink="/" class="m-3 text-2xl font-bold" >شــــارك</h2></div>
      <div><button routerLink="/form" class="bg-green-600 rounded-md text-white m-2 text-xl p-3 ">انــضـم كـمـؤجـر</button></div>
 
   </nav>
 
   <div class="container">
      <router-outlet></router-outlet>
   </div>

   <footer class="bg-green-50 flex flex-wrap  justify-center p-3 mt-4 ">
      <div><img src="../assets/logoarabic.svg" class="w-20 m-3"></div>
      <div><h2 class="m-3 text-xs font-thin text-center" >جميع الحقوق محفوظة ©2022</h2></div>
      <div><h2 class="m-3 text-xs font-thin text-center">صنع بإشراف أ:فهد و أ:محمد في أكاديمية طويق</h2></div>
   </footer>

</html>